.card{
    padding: 0;
    width: 505px;
    height: 541px;
    border-radius: 25px;
    margin: 0.5rem;
    .image{
        img{
            object-fit: cover;
        }
    }
    .cardbody{
        padding: 2rem;
        h3{
            font-weight: bold;
            font-size: 22px;
            color: #191633;
        }
        p{
            font-weight: 500;
            font-size: 15px;
            color: #3B3855;
        }
        h4{
            font-size: 15px;
            line-height: 30px;
            color: #726E8D;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}