<section>
    <header>
        <span class="selection">
            <select name="watchlistname">
                <option value="0">Jessie</option>
            </select>
        </span>
        <span class="edit">
            <button><i class="material-icons">add</i></button>
            <button><i class="material-icons">more_horiz</i></button>
        </span>
    </header>
    <body>
        <table>
            <tr class="head">
                <th>Symbol</th>
                <th>Last</th>
                <th>Chg%</th>
                <th>Vol</th>
            </tr>
            <tr>
                <td class="symbol">XRPUSD</td>
                <td class="last">1301.05</td>
                <td class="change">5.65%</td>
                <td class="vol">125.71M</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th>Index</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td class="symbol">BTCUSD</td>
                <td class="last">1301.05</td>
                <td class="change">5.65%</td>
                <td class="vol">125.71M</td>
            </tr>
        </table>
    </body>
</section>