<section class="hidescroll">
    <header>
        <div class="selection">
            <button (click)="openWahtchlist()">{{watchlists[selectedwatchlist].watchlistName}}<i class="material-icons">expand_more</i></button>
            <ul class="lists" *ngIf="watchlistOpen">
                <li><button (click)="addWatchlist()">New</button></li>
                <li *ngFor="let list of watchlists; index as i"><button (click)="selectWatchlist(i)">{{list.watchlistName}} <button>{{list.coins.length}}</button><button (click)="removeWatchlist(i)"><i class="material-icons">close</i></button></button></li>
            </ul>
        </div>
        <div class="edit">
            <button><i class="material-icons">add</i></button>
            <button mat-button [matMenuTriggerFor]="options"><i class="material-icons">more_horiz</i></button>
            <mat-menu #options="matMenu">
                <button mat-menu-item >Column</button>
                <button mat-menu-item (click)="renameWatchlist()" >Rename watchlist</button>
            </mat-menu>
        </div>
    </header>
    <body>
        <table>
            <thead>
                <tr class="head">
                    <th>Symbol</th>
                    <th>Last</th>
                    <th>Chg%</th>
                    <th>Vol</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coin of watchlists[selectedwatchlist].coins; index as i" [ngClass]="{'active': selectedRow === i}" (click)="getSymbolChart(coin.symbol, i)">
                    <td class="symbol">{{coin.symbol}}</td>
                    <td class="last">{{coin.last}}</td>
                    <td class="change">{{coin.change}}%</td>
                    <td class="vol">{{coin.vol}}M</td>
                </tr>
            </tbody>
        </table>
    </body>
</section>