<section class="hidescroll">
    <header>
        <div class="selection">
            <button (click)="openWahtchlist()">{{watchlists[selectedwatchlist].watchlistName}}<i class="material-icons">expand_more</i></button>
            <ul class="lists" *ngIf="watchlistOpen">
                <li><button (click)="addWatchlist()">New</button></li>
                <li *ngFor="let list of watchlists; index as i"><button (click)="selectWatchlist(i)">{{list.watchlistName}} <button>{{list.coins.length}}</button><button (click)="removeWatchlist(i)"><i class="material-icons">close</i></button></button></li>
            </ul>
        </div>
        <div class="edit">
            <button><i class="material-icons">add</i></button>
            <div>
                <button mat-button (click)="openEditWatchlist()"><i class="material-icons">more_horiz</i></button>
                <ul class="lists editWatchlist" *ngIf="editWatchlist">
                    <li><button (click)="columnOpen = !columnOpen">Column</button></li>
                    <ul class="lists columns" *ngIf="columnOpen">
                        <li><input type="checkbox" checked (click)="last = !last">Last</li>
                        <li><input type="checkbox" checked (click)="changePer = !changePer">Chg%</li>
                        <li><input type="checkbox" checked (click)="vol = !vol">Vol</li>
                        <li><input type="checkbox" (click)="change = !change">Chg</li>
                    </ul>
                    <li><button (click)="renameWatchlist()">Rename</button></li>
                    <li><button>Imoport</button></li>
                    <li><button>Export</button></li>
                </ul>
            </div>
        </div>
    </header>
    <body>
        <table>
            <thead>
                <tr class="head">
                    <th>Symbol</th>
                    <th *ngIf="last">Last</th>
                    <th *ngIf="changePer">Chg%</th>
                    <th *ngIf="vol">Vol</th>
                    <th *ngIf="change">Chg</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let coin of watchlists[selectedwatchlist].coins; index as i" [ngClass]="{'active': selectedRow === i}" (click)="getSymbolChart(coin.symbol, i)">
                    <td >{{coin.symbol}}</td>
                    <td *ngIf="last">{{coin.last}}</td>
                    <td class="change" *ngIf="changePer">{{coin.changePer}}%</td>
                    <td *ngIf="vol">{{coin.vol}}M</td>
                    <td *ngIf="change">{{coin.change}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</section>