<div class="form">
    <header>
        <div class="title">
            <h1>Login</h1>
            <span class="material-icons" (click)="close()">close</span>
        </div>
        <h3>Login with your data that you entered during your registeration.</h3>
    </header>
    <form [formGroup]="loginForm" #login (ngSubmit)="onLogin()">
        <div >
            <label>Email Address :</label>
            <div class="input">
                <i class="material-icons">email</i><input type="text" formControlName="email" name="email">
            </div>
        </div>
        <div>
            <label>Password :</label>
            <div class="input">
                <i class="material-icons">lock</i>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password">
                <i (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </i>
            </div>
        </div>
        <div class="forget">
            <div class="check">
                <input type="checkbox" name="login">
                <label>Keep my signed in</label>
            </div>
            <a (click)="navigate('forget')">Forget Password?</a>
        </div>
        <button [disabled]="!loginForm.valid">Login</button>
        <div class="new">
            <h5>Not registered yet? <a (click)="navigate('register')">Create an Account</a></h5>
            <label>Copyright © 1999-2021 GodCrypto Inc. All rights reserved.</label>
        </div>
    </form>
</div>