@import "../../../../../assets/styleSotrage/mixinss";
@import "../../../../../assets/styleSotrage/vars";
$fontSize: 0.85rem;
body{
    border-top: 0.05rem solid $border;
    background-color: $platformBackground;
    padding-top: 1rem;
    header{
        ul{
            display: flex;
            align-items: center;
            gap: 3rem;
            h6{
                font-size: $fontSize;
                color: #7A7AB1;
            }
            label{
                font-size: $fontSize;
                color: #D6D6EE;
            }
        }
    }
    section{
        overflow-x: auto;
        table{
            width: 100%;
            td,th{
                padding: 1rem;
                font-size: $fontSize;
            }
            th{
                border-bottom: 0.05rem solid $border;
                color: #7A7AB1;
            }
            td{
                color: #D6D6EE;
            }
        }
    }
}