@import "../../../../assets/styleSotrage/mixinss";
@import "../../../../assets/styleSotrage/fonts";
nav{
    height: 100%;
    @include center();
    ul{
        display: flex;
        align-items: center;
        gap: 2.5rem;
        flex-direction: column;
    }
    li{
        position: relative;
        left: -1rem;
        i{
            cursor: pointer;
            font-size: $main;
            color: #40406D;

        }
        .active{
            color: #F1F1F8;
        }
    }
}