<section>
    <header>
        <div class="coin">
            <span>
                <i class="fab fa-bitcoin fa-2x"></i>
            </span>
            <span class="coinname">
                <label id="name">Bitcoin</label>
                <label id="pair">USSD</label>
            </span>
        </div>
        <div class="info">
            <h4>Bitcoin / U.S. Dollar <i class="material-icons">open_in_new</i> BITSTAMP</h4>
            <h6>Crypto</h6>
        </div>
    </header>
    <div class="information">
        <h3>50360.89 <label>USSD</label></h3>
        <div>
            <h4>693.25 <h5>(1.40%)</h5></h4>
            <h6><ul><li>market open</li></ul></h6>
        </div>
        <div class="code">
            <span class="blue">
                <label>49528.04x3.72996033</label>
            </span>
            <span class="red">
                <label>49528.04x3.72996033</label>
            </span>
        </div>
    </div>
    <div class="chart"></div>
    <div class="status">
        <h2>Key Status</h2>
        <div>
            <label>Volume</label>
            <h4>1.417k</h4>
        </div>
        <div>
            <label>Average volume (10)</label>
            <h4>4.405k</h4>
        </div>
    </div>
    <h2>Performance</h2>
    <div class="performance">
        <app-performance [value]='12.85' [time]="'1W'" [i]="'1'"></app-performance>
        <app-performance [value]='0.70' [time]="'1W'" [i]="'2'"></app-performance>
        <app-performance [value]='-12.85' [time]="'3M'" [i]="'3'"></app-performance>
        <app-performance [value]='0.70' [time]="'1W'" [i]="'4'"></app-performance>
        <app-performance [value]='-12.85' [time]="'1W'" [i]="'5'"></app-performance>
        <app-performance [value]='-12.85' [time]="'YTD'" [i]="'6'"></app-performance>
    </div>
</section>