<div class="card">
    <div class="header">
        <h2><span>${{cardvalue}}</span>/month</h2>
        <label>{{cardtype}}</label>
        <p>RippleX makes it easy for developers and entrepreneurs to remove the pain.</p>
        <hr>
    </div>
    <div class="body">
        <ul>
            <li><span><i class="fas fa-check"></i></span>Unlimited access to crypto changes</li>
            <li><span><i class="fas fa-check"></i></span>Easily manage graphs & charts</li>
            <li><span><i class="fas fa-check"></i></span>Access cryptocurrency database</li>
            <li><span><i class="fas fa-check"></i></span>Free 20 extra days period</li>
        </ul>
    </div>
    <div class="footer">
        <button>Get Started</button>
        <span><i class="fas fa-arrow-right"></i></span>
    </div>
</div>