div{
    // background-image: url("../../../../assets/Images/newsbackground.png");
    background-color: aqua;
    padding: 2rem;
    h2{
        font-size: 27px;
        line-height: 43px;
        text-align: start;
        color: #FFFFFF;
        font-weight: bold;
    }
    h4{
        margin-left: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 30px;
        color: #FDFDFF;
    }
}