@mixin gradiant {
    background: -webkit-linear-gradient(#EA5C28,#E8A82C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}