<footer>
    <div class="description">
        <div id="logo">
            <i class="fas fa-gem"></i><span>Hunttern</span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae voluptatum corporis enim? Iure, aliquam. Quam officia commodi inventore, repellendus iste quae eaque suscipit architecto eligendi cumque ducimus quidem in ab!</p>
        <ul>
            <li><a><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a><i class="fab fa-twitter fa-2x"></i></a></li>
            <li><a><i class="fab fa-facebook-f fa-2x"></i></a></li>
            <li><a><i class="fab fa-linkedin-in fa-2x"></i></a></li>
        </ul>
    </div>
    <div class="menu">
        <ul>
            <li>Menu</li>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a>Features</a></li>
            <li><a>Trading</a></li>
            <li><a>Pricing</a></li>
        </ul>
    </div>
    <div class="services">
        <ul>
            <li>Services</li>
            <li><a>Data Secure</a></li>
            <li><a>Debit Card Support</a></li>
            <li><a>Credit Card Support</a></li>
            <li><a>Free Administration</a></li>
        </ul>
    </div>
    <div class="information">
        <ul>
            <li>Information</li>
            <li><a [routerLink]="['/terms']">Privacy & Policy</a></li>
            <li><a>Trading Rules</a></li>
            <li><a>Support</a></li>
        </ul>
    </div>
    <div class="contact">
        <ul>
            <li>Contact</li>
            <li>
                <i class="far fa-envelope"></i>
                <label>m.empire7star@gmail.com</label>
            </li>
            <li>
                <i class="fas fa-phone"></i>
                <label>+1 4847 632578</label>
            </li>
        </ul>
    </div>
    <div class="rights">
        <label>© 2017 - 2021 Binance.com. All rights reserved</label>
    </div>
</footer>