<div class="row">
    <div class="col-md-2 sidebar">
        <div class="userinformation">
            <img src="../../../assets/Images/profile.png">
            <h2>{{username}}</h2>
            <h4>{{email}}</h4>
        </div>
        <div class="navigation">
            <ul>
                <li><a [routerLink]="['/dashboard']"><span><i class="material-icons">speed</i></span>Dashboard</a></li>
                <li><a [routerLink]="['/profile']"><span><i class="material-icons">person</i></span>Profile</a></li>
                <li><a [routerLink]="['/statistics']"><span><i class="material-icons">bar_chart</i></span>Statistics</a></li>
                <li><a [routerLink]="['/dashboard']"><span><i class="material-icons">account_balance_wallet</i></span>Payments & Plans</a></li>
                <li class="logout"><a [routerLink]="['/home']"><span><i class="material-icons">logout</i></span>Sign out</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>