<body>
    <nav>
        <div class="userinformation">
            <span>{{username[0]}}</span>
            <h2>{{username}}</h2>
        </div>
        <div class="navigation">
            <ul>
                <li><a [routerLink]="['dashboard']"routerLinkActive="active"><span><i class="material-icons">speed</i></span>Dashboard</a></li>
                <li><a [routerLink]="['Profile']" routerLinkActive="active"><span><i class="material-icons">person</i></span>Profile</a></li>
                <li><a [routerLink]="['Payments']" routerLinkActive="active"><span><i class="material-icons">account_balance_wallet</i></span>Payments & Plans</a></li>
                <li class="logout"><a [routerLink]="['/home']" routerLinkActive="active"><span><i class="material-icons">logout</i></span>Sign out</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <router-outlet></router-outlet>
    </main>
</body>