<div class="form">
    <header>
        <div class="title">
            <h1>Register</h1>
            <span class="material-icons" (click)="close()">close</span>
        </div>
        <h3>Login with your data that you entered during your registeration.</h3>
    </header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Full Name :</label>
            <div class="input">
                <i class="material-icons">person</i><input type="text" formControlName="fullname" name="fullname">
            </div>
        </div>
        <div >
            <label>Email Address :</label>
            <div class="input">
                <i class="material-icons">email</i><input type="text" formControlName="email" name="email">
            </div>
        </div>
        <div class="password">
            <div>
                <label>Password :</label>
                <div class="input">
                    <i class="material-icons">lock</i>
                    <input matInput [type]="hide1 ? 'password' : 'text'" formControlName="password" name="password">
                    <i (click)="hide1 = !hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </i>
                </div>
            </div>
            <div>
                <label>Confirm Password :</label>
                <div class="input">
                    <i class="material-icons">lock</i>
                    <input matInput [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword" name="confirmPassword">
                    <i (click)="hide2 = !hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </i>
                </div>
            </div>
        </div>
        <div class="check">
            <input type="checkbox" name="terms">
            <label>By creating an account , you agree to the Terms of Service and Conditions.</label>
        </div>
        <button [disabled]="!registerForm.valid">Register</button>
        <div class="new">
            <h5>Already have an account? <a (click)="navigate('login')">Login</a></h5>
            <label>Copyright © 1999-2021 GodCrypto Inc. All rights reserved.</label>
        </div>
    </form>
</div>