@import '../../../../assets/styleSotrage/vars';
$fontSize: 0.85rem;
.hidescroll::-webkit-scrollbar{
    display: none;
}
.hidescroll {
    background-color: $platformBackground;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
ul{
    display: flex;
    gap: 0.5rem;
    a{
        font-size: $fontSize;
        color: $platformBorder;
        text-decoration: none;
        &.active{
            color: #D6D6EE;
        }
    }
}