@import '../../../../assets/styleSotrage/vars';
@import '../../../../assets/styleSotrage/fonts';

.hidescroll::-webkit-scrollbar{
    display: none;
}
.hidescroll {
    background-color: $platformBackground;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
nav{
    ul{
        display: flex;
        gap: 0.5rem;
        list-style: none;
        a{
            font-size: $secondary;
            color: $platformBorder;
            text-decoration: none;
            &.active{
                color: #D6D6EE;
            }
        }
    }
}
form{
    padding: 0 2rem;
}
.zigzag{
    display: flex;
    gap: 1rem;
    color: #FFFFFF;
    div{
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
.inputs{
    label{
        margin-top: 1rem;
        color: #7A7AB1;
        font-size: $secondary;
    }
    input{
        padding: 0.5rem;
        margin-left: 1rem;
        width: 75px;
        height: 30px;
        margin-bottom: 0.1rem;
        background: transparent;
        border: 1.3px solid #242448;
        box-sizing: border-box;
        border-radius: 8px;
        color: #FFFFFF;
        &:focus{
            outline: none;
        }
    }
}