@import '../../../../assets/styleSotrage/vars';
$fontSize: 0.85rem;
.hidescroll::-webkit-scrollbar{
    display: none;
}
.hidescroll {
    background-color: $platformBackground;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
nav{
    ul{
        display: flex;
        gap: 0.5rem;
        list-style: none;
        a{
            font-size: $fontSize;
            color: $platformBorder;
            text-decoration: none;
            &.active{
                color: #D6D6EE;
            }
        }
    }
}