<div class="register">
    <div class="form">
        <h1>Register</h1>
        <h3>Login with your data that you entered during your registeration.</h3>
        <form>
            <div>
                <label>Full Name :</label>
                <div class="input">
                    <i class="material-icons">person</i><input type="text" #fullname>
                </div>
            </div>
            <div >
                <label>Email Address :</label>
                <div class="input">
                    <i class="material-icons">email</i><input type="text" #email>
                </div>
            </div>
            <div class="password">
                <div>
                    <label>Password :</label>
                    <div class="input">
                        <i class="material-icons">lock</i><input type="password" #password><i class="material-icons">visibility</i>
                    </div>
                </div>
                <div>
                    <label>Confirm Password :</label>
                    <div class="input">
                        <i class="material-icons">lock</i><input type="password" #password><i class="material-icons">visibility</i>
                    </div>
                </div>
            </div>
            <div class="check">
                <input type="checkbox">
                <label>By creating an account , you agree to the Terms of Service and Conditions.</label>
            </div>
            <button>Register</button>
            <div class="new">
                <h5>Already have an account? <a [routerLink]="['/login']">Login</a></h5>
            </div>
        </form>
    </div>
    <div class="rights">
        <label>Copyright © 1999-2021 GodCrypto Inc. All rights reserved.</label>
    </div>
</div>