<section>
    <div class="content">
        <h2>Hunt lucratively with Hunttern</h2>
        <p>Hunttern will help you to find the best positions and best patterns to make money faster than any other time in your life. Don’t waste time. Give the free subscription a try.</p>
        <ul>
            <li>
                <h5>5k +</h5>
                <p>ACTIVE USERS</p>
            </li>
            <li>
                <h5>$ 3M +</h5>
                <p>TOTAL TRADE</p>
            </li>
            <li>
                <h5>45</h5>
                <p>BIG COMPANIES</p>
            </li>
        </ul>
    </div>
    <div class="teaser">
        <video src=""></video>
    </div>
</section>