<section>
    <div class="content">
        <h2>Our best users are all over the world with wide coverage</h2>
        <p>Our platform reaches people all over the world, hereby we are trusted as the best platform for crypto trading. </p>
        <ul>
            <li>
                <h5>5k +</h5>
                <p>ACTIVE USERS</p>
            </li>
            <li>
                <h5>$ 3M +</h5>
                <p>TOTAL TRADE</p>
            </li>
            <li>
                <h5>45</h5>
                <p>BIG COMPANIES</p>
            </li>
        </ul>
    </div>
    <div class="teaser">
        <video src=""></video>
    </div>
</section>