
nav{
    height: 100%;
    display: flex;
    align-items: center;
    ul{
        display: flex;
        align-items: center;
        gap: 4rem;
        flex-direction: column;
    }
    li{
        position: relative;
        left: -1rem;
        i{
            cursor: pointer;
            font-size: 30px;
            color: #40406D;

        }
        .active{
            color: #F1F1F8;
        }
    }
}