@import "../../../../assets/styleSotrage/mixinss";
section{
    padding: 5rem 10rem;
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10rem;
        text-align: center;
    }
    .packages{
        background: #f8f8fa;
        border: none;
        border-radius: 10px;
        padding: 3rem 5rem;
        gap: 1rem;
    }
    .row{
        margin-top: 2rem;
    }
}
@media (max-width: 426px){
    section{
        padding: 1rem;
        .packages{
            padding: 1rem;
            .head{
                padding: 1rem;
            }
        }
        .row{
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
}