@import "../../../../assets/styleSotrage/vars";
@import "../../../../assets/styleSotrage/mixinss";
$fontSize: 0.85rem;
$fontSize1: 1.25rem;
main{
    height: 100%;
    float: right;
    background-color: $platformBorder;
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;
    grid-template-areas: "info alert";
    gap: 0.1rem;
    .info{
        padding: 0 1rem;
        height: 100%;
        grid-area: info;
        background-color: $platformBackground;
        display: flex;
        gap: 2rem;
        @include center();
        .photo{
            @include center();
            width: 35px;
            height: 35px;
        }
        .data{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            #username{
                font-size: $fontSize;
                line-height: 20px;
                color: #D6D6EE;
            }
            #email{
                font-size: 14px;
                color: #595983;
            }
        }
        .select{
            grid-area: select;
            @include center();
            &:hover .dropdown{
                z-index: 100;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;
                display: block;
            }
            .dropdown{
                border-radius: 5px;
                border: 0.1rem solid $platformBorder;
                z-index: 2;
                display: none;
                background-color: $platformBackground;
                position: absolute;
                right: 55px;
                margin: 0;
                padding: 0;
                li{
                    padding: 1rem 2rem;
                    &:not(:last-child){
                        border-bottom: 0.1rem solid $platformBorder;
                    }
                }
                a,i{
                    color: #D6D6EE;
                    text-decoration: none;
                    font-size: $fontSize;
                }

            }
        }
    }
    .alert{
        grid-area: alert;
        overflow-y: hidden;
        background-color: $platformBackground;
        height: 100%;
        border-right: 0.1rem solid $border;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i{
        font-size: $fontSize1;
        color:#8282B2;
        cursor: pointer;
    }
}