<div class="login">
    <div class="form">
        <h1>Login</h1>
        <h3>Login with your data that you entered during your registeration.</h3>
        <form>
            <div>
                <label>Full Name :</label>
                <div class="input">
                    <i class="far fa-user fa-2x"></i><input type="text" #fullname>
                </div>
            </div>
            <div >
                <label>Email Address :</label>
                <div class="input">
                    <i class="far fa-envelope fa-2x"></i><input type="text" #email>
                </div>
            </div>
            <div>
                <label>Password :</label>
                <div class="input">
                    <i class="fas fa-unlock-alt fa-2x"></i><input type="password" #password><i class="far fa-eye fa-2x"></i>
                </div>
            </div>
            <div class="forget">
                <div class="check">
                    <input type="checkbox">
                    <label>Keep my signed in</label>
                </div>
                <a>Forget Password?</a>
            </div>
            <button>Login</button>
            <div class="new">
                <h5>Not registered yet? <a>Create an Account</a></h5>
            </div>
        </form>
    </div>
    <div class="rights">
        <label>Copyright © 1999-2021 GodCrypto Inc. All rights reserved.</label>
    </div>
</div>