<body class="hidescroll">
    <header>
        <ul>
            <li><h6>Account Balance</h6><label>100 002.12</label></li>
            <li><h6>Equity</h6><label>100 002.12</label></li>
            <li><h6>Open Profit</h6><label>0.00</label></li>
        </ul>
    </header>
    <section>
        <table>
            <tr>
                <th>clmn1</th>
                <th>clmn2</th>
                <th>clmn3</th>
                <th>clmn4</th>
                <th>clmn5</th>
                <th>clmn6</th>
                <th>clmn7</th>
                <th>clmn8</th>
                <th>clmn9</th>
            </tr>
            <tr>
                <td>15455</td>
                <td>12044</td>
                <td>265.5</td>
                <td>15455</td>
                <td>558.7</td>
                <td>15455</td>
                <td>15455</td>
                <td>265.5</td>
                <td>12478</td>
            </tr>
        </table>
    </section>
</body>