<body class="hidescroll">
    <section>
        <table>
            <tr>
                <th>symbol</th>
                <th>type</th>
                <th>pattern</th>
                <th>time-frame</th>
                <th>entry</th>
                <th>tp</th>
                <th>sl</th>
                <th>date</th>
            </tr>
            <tr>
                <td>btc/usdt</td>
                <td>long</td>
                <td>gartly</td>
                <td>1h</td>
                <td>558.7</td>
                <td>15455</td>
                <td>15455</td>
                <td>265.5</td>
                <!-- <td>{{date | date: 'dd.mm.yyyy/hh:mm'}}</td> -->
            </tr>
        </table>
    </section>
</body>