<section>
    <header>
        <h3>Pattern Status</h3>
    </header>
    <body>
        <span>
            <input type="radio" name="pattern">
            <label>all</label>
        </span>
        <span>
            <input type="radio" name="pattern">
            <label>Complete</label>
        </span>
        <span>
            <input type="radio" name="pattern">
            <label>Incomplete</label>
        </span>
        <span>
            <input type="radio" name="pattern">
            <label>mature</label>
        </span>
    </body>
</section>
<section>
    <header>
        <h3>Pattern Status</h3>
    </header>
    <body>
        <span>
            <input type="checkbox" name="timeframe">
            <label>M5</label>
        </span>
        <span>
            <input type="checkbox" name="timeframe">
            <label>M15</label>
        </span>
        <span>
            <input type="checkbox" name="timeframe">
            <label>M30</label>
        </span>
        <span>
            <input type="checkbox" name="timeframe">
            <label>H1</label>
        </span>
        <span>
            <input type="checkbox" name="timeframe">
            <label>H4</label>
        </span>
        <span>
            <input type="checkbox" name="timeframe">
            <label>D</label>
        </span>
        <span>
            <input type="checkbox" name="timeframe">
            <label>W</label>
        </span>
        <span>
            <input type="checkbox" name="timeframe">
            <label>M</label>
        </span>
    </body>
</section>
<section>
    <header>
        <h3>Timeframe</h3>
    </header>
    <body>
        <span>
            <input type="checkbox" name="asset">
            <label>Crypto</label>
        </span>
        <span>
            <input type="checkbox" name="asset">
            <label>Future</label>
        </span>
    </body>
</section>