<section>
    <h1>Statistics</h1>
    <div class="plan">
        <div class="head">
            <div class="chart">
                <h3>Diamond Plan</h3>
                <h4>27 Days left</h4>
            </div>
            <div class="recharge"><button>Recharge</button></div>
        </div>
        <div class="par">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="payments">
        <h2>My payments</h2>
        <table>
            <tr *ngFor="let item of payments">
                <td>{{item.payment}}</td>
                <td>{{item.date}}</td>
                <td>{{item.price}}</td>
            </tr>
        </table>
    </div>
</section>