@import "../../../../assets/styleSotrage/mixinss";
@mixin section{
    background: #FFFFFF;
    border-radius: 30px;
    padding: 1rem;
}
section{
    height: 100vh;
    padding: 2rem;
    background-color: #E5E5E5;
    h1{
        color: #16161E;
        font-weight: bold;
    }
    .plan{
        @include section;
        .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .chart{
                h3{
                    @include gradiant;
                }
                h4{
                    color: #4D4D63;
                }
            }
            .recharge{
                button{
                    color: #FFF;
                    padding: 0.5rem 1.5rem;
                    background-color: #F19F48;
                    border-radius: 7px;
                    border: none;
                }
            }
        }
        .par{
            p{
                color: #585886
            }
        }
    }
    .payments{
        @include section;
        margin-top: 2rem;
        h2{
            color: #16161E;
        }
        table{
            width: 100%;
            td{
                background: #F5F8FA;
                padding: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
}