<div class="body">
    <div class="plan">
        <div>
            <h3>Diamond Plan :</h3>
            <div class="chart">
                <h3>{{leftDays}}</h3>
                <ngx-charts-pie-chart
                [view]="[100,100]"
                [scheme]="{domain: ['#00ff00', '#fff']}"
                [results]="data"
                [legend]="false"
                [labels]="false"
                [doughnut]="true"
                [animations]="false">
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>
    <div>
        <div class="packages">
            <h2>Upgrade my plan</h2>
            <div class="row">
                <span class="col-md-4">
                    <app-card [cardtype]="'silver'" [cardvalue]="35"></app-card>
                </span>
                <span class="col-md-4">
                    <app-card [cardtype]="'Dimond'" [cardvalue]="75"></app-card>
                </span>
                <span class="col-md-4">
                    <app-card [cardtype]="'Gold'" [cardvalue]="55"></app-card>
                </span>
            </div>
        </div>
    </div>
</div>