<div class="main">
    <header>
        <div class="image">
            <img  src="../../../../assets/Images/profile.png">
            <div class="buttons">
                <button class="upload">Upload photo</button>
                <button class="remove">Remove</button>
            </div>
            <label>At least 512 x 512 PNG or JPEG format</label>
        </div>
        <a [routerLink]="['/changepassword']">Change Password</a>
    </header>
    <body class="row">
        <form class="col-md-8">
            <div class="name">
                <label>First name :</label>
                <br>
                <input type="text" class="input">
            </div>
            <div class="lastname">
                <label>Last name :</label>
                <br>
                <input type="text" class="input">
            </div>
            <div class="username">
                <label>Username :</label>
                <br>
                <input type="text" class="input">
            </div>
            <div class="country">
                <label>Countery :</label>
                <br>
                <select name="country" id="country" class="input">
                    <option value="0">United States</option>
                </select>
            </div>
            <div class="email">
                <label>Email address :</label>
                <br>
                <input type="email" class="input">
            </div>
            <button>Save changes</button>
        </form>
        <div class="col-md-4 plan">
            <div class="row">
                <div class="col-sm-6">
                    <h3>My Plan</h3>
                    <h2>Diamond</h2>
                    <h3 class="leftdays">{{leftdays}} days remaining</h3>
                </div>
                <div class="col-sm-6 recharge">
                    <button>Recharge</button>
                </div>
            </div>
            <div class="par">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
        </div>
    </body>
</div>