@import "../../../../assets/styleSotrage/mixinss";
.main{
    padding: 3rem;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .image{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "image buttons"
        "image text";
        gap: 1rem;
        padding: 1rem;
        img{
            width: 100px;
            height: 100px;
            border-radius: 25px;
            box-shadow: 0 0 0 5px #fff,
            0 0 0 6px #7146EB;
        }
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px;
            box-shadow: 0 0 0 5px #fff,
            0 0 0 6px #7146EB;

        }
        .buttons{
            grid-area: buttons;
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            .upload{
                background: rgba($color: #7146EB, $alpha: 0.1);
                color: #7146EB;
                border: none;
            }
            .remove{
                border: thin solid #E5E5EF;
                background-color: #fff;
                color: #4D4D63;
            }
            button{
                padding: 0.5rem;
                border-radius: 13px;
            }
            
        }
        label{
            grid-area: text;
            color: #7D7DB1;
            
        }
    }
    a{
        color: #F19F48;
        text-decoration: none;
    }
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    > div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .input{
            width: 100%;
            box-sizing: border-box;
            border-radius: 7px;
            border: 1.2px solid #E5E5EF;
            padding: 0.5rem;
        }
    }
    button{
        width: 75%;
        padding: 0.75rem;
        background: #7146EB;
        border-radius: 7px;
        font-size: 19px;
        border: none;
        color: #fff;
    }
}
@media (max-width: 426px){
    .main{
        padding: 1rem;
    }
    header{
        padding: 0;
        .image{
            img{
                width: 75px;
                height: 75px;
            }
            .buttons{
                button{
                    font-size: 14px;
                }
            }
            label{
                font-size: 12px;
            }
        }
        a{
            font-size: 12px;
        }
    }
    form{
        button{
            padding: 0.5rem;
            font-size: 14px;
            margin-bottom: 1rem;
        }
    }
}