<main>
    <section class="major">
        <ul>
            <li><input type="checkbox"><label>Harmonic Setup</label></li>
            <li><input type="checkbox"><label>Extras</label></li>
        </ul>
    </section>
    <section class="textinput">
        <div class="inputs">
            <div>
                <label>Zigzag period :</label>
                <input type="text">
            </div>
            <div>
                <label>Error rate % :</label>
                <input type="text">
            </div>
        </div>
    </section>
    <section class="patterns">
        <ul>
            <li><input type="checkbox"><label>Pattern Prediction</label></li>
            <li><input type="checkbox"><label>Show Pattern Names</label></li>
            <li><input type="checkbox"><label>Pattern Prediction</label></li>
            <li><input type="checkbox"><label>Show Pattern Names</label></li>
            <li><input type="checkbox"><label>Pattern Prediction</label></li>
            <li><input type="checkbox"><label>Show Pattern Names</label></li>
            <li><input type="checkbox"><label>Pattern Prediction</label></li>
            <li><input type="checkbox"><label>Show Pattern Names</label></li>
        </ul>
    </section>
    <div class="buttons">
        <span>
            <select name="test" id="test">
                <option value="0">Defaults</option>
            </select>
        </span>
        <span>
            <button id="cancel">Cancel</button>
            <button id="ok">Ok</button>
        </span>
    </div>
</main>