<div class="form">
    <h1>Forget Password</h1>
    <h3>Enter your email address that you entered during your registeration.</h3>
    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Email Address :</label>
            <div class="input">
                <i class="material-icons">email</i><input type="text" formControlName="email" name="email">
            </div>
        </div>
        <button [disabled]="!forgetForm.valid">Forget Password</button>
        <div class="new">
            <h5>Not registered yet? <a (click)="navigate('register')">Create an Account</a></h5>
            <label>Copyright © 1999-2021 GodCrypto Inc. All rights reserved.</label>
        </div>
    </form>
</div>