<form [formGroup]="signalSettingForm" (ngsubmit)="onSubmit()" class="hidescroll">
    <section class="zigzag">
        <div>
            <mat-slide-toggle color="primary" formControlName="zigzagdraw">Zigzag</mat-slide-toggle>
            <mat-slide-toggle color="primary" formControlName="prediction">Prediction</mat-slide-toggle>
        </div>
    </section>
    <section class="textinput">
        <div class="inputs">
            <div>
                <label>Zigzag period :</label>
                <input type="number" max="30" min="1" formControlName="zigzag">
            </div>
            <div>
                <label>Error rate % :</label>
                <input type="number" max="30" min="1" formControlName="error">
            </div>
        </div>
    </section>
    <section class="patterns">
        <ul formArrayName="patterns">
            <li *ngFor="let pattern of patterns"><mat-checkbox color="primary" class="example-margin" name="pattern" [value]="pattern.value" (change)="onCheckboxChange($event)">{{pattern.name}}</mat-checkbox></li>
        </ul>
    </section>
    <div class="buttons">
        <span class="section2">
            <button mat-raised-button color="primary"  id="ok" (click)="onSubmit()">OK</button>
        </span>
    </div>
</form>