<section>
    <div class="row">
        <div class="row head">
            <div class="col-md-6">
                <h1>Trusted <span>Crypto Platform</span>for sell , buy and trade.</h1>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolor, natus commodi placeat asperiores incidunt id voluptas ab aliquid, animi culpa ipsam impedit nam assumenda rem dolore, fugiat facilis laborum!</p>
            </div>
        </div>
        <div class="row head">
            <div class="col-md-4 feature">
                <h3><span><img src="../../../assets/Images/secure.png"></span>Data Secure</h3>
                <p>Lorem ipsum dolor sit amet , consectetur adipiscing , sed do eiusmod tempor incididunt ut labore et</p>
            </div>
            <div class="col-md-4 feature">
                <h3><span><img src="../../../assets/Images/shield.png"></span>No Transaction Fee</h3>
                <p>Lorem ipsum dolor sit amet , consectetur adipiscing , sed do eiusmod tempor incididunt ut labore et</p>
            </div>
            <div class="col-md-4 feature">
                <h3><span><img src="../../../assets/Images/shield.png"></span>Support Credit & Debit Card</h3>
                <p>Lorem ipsum dolor sit amet , consectetur adipiscing , sed do eiusmod tempor incididunt ut labore et</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-6 description">
                <h2>The Right Place at the Right Time</h2>
                <p> RippleX makes it easy for developers and entrepreneurs to remove the pain and friction that comes with integrating blockchain technologies into their applications. Through tools, services and programs built on the XRP Ledger, RippleX enables developers and their users to send and receive payments across any currency, network and geography. RippleX is built on the principle that success of the blockchain industry and realizing the Internet of Value hinges on how easily these new technologies interface with how the world currently operates. </p>
                <button>About us</button>
            </div>
            <div class="col-md-6 image">
                <img src="../../../assets/Images/world.png">
            </div>
        </div>
    </div>
</section>