@import "../../../assets/styleSotrage/mixinss";
section{
    z-index: 4;
    padding: 10rem 7rem;
    .head{
        margin-bottom: 4rem;
        h1{
            font-weight: bold;
            font-size: 49px;
            line-height: 60px;
            color: #161620;
            span{
                @include gradiant;
            }
            p{
                font-size: 20px;
                line-height: 40px;
                color: #403C52;
            }
        }
    }
    .feature{
        h3{
            display: flex;
            gap: 0.75rem;
            font-size: 29px;
            line-height: 50px;
            color: #161620;
        }
        p{
            font-size: 18px;
            line-height: 30px;
            color: #514F67;
        }
        span{
            @include _center();
            border-radius: 50%;
            background: linear-gradient(146.31deg, #E8A62C 15.26%, #EA5C28 83.68%);
            box-shadow: 0px 8px 20px rgba(233, 100, 40, 0.09);
            color: #fff;
            width: 35px;
            height: 35px;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    .part2{
        margin-top: 2rem;
        .description{
            h2{
                font-weight: bold;
                font-size: 44px;
                line-height: 55px;
                color: #191633;
            }
            p{
                font-size: 20px;
                line-height: 33px;
                color: #403C52;
                line-height: 30px;
            }
            button{
                background-color: #393884;
                border-radius: 10px;
                border: none;
                color: #fff;
                padding: 0.5rem 1.5rem;
                margin-top: 1rem;
            }
        }
        .image{
            img{
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 426px) {
    section{
        margin-top: 2rem;
        padding: 1rem;
        .row{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h1{
                font-size: 35px;
                line-height: 45px;
            }
            p{
                font-size: 20px;
                line-height: 25px;
            }
        }
        .feature{
            margin-top: 2rem;
            h3{
                font-size: 25px;
                line-height: 30px;
            }
            p{
                font-size: 15px;
                line-height: 20px;
            }
        }
        .part2{
            .description{
                h2{
                    font-size: 30px;
                    line-height: 40px;
                }
                p{
                    font-size: 15px;
                    line-height: 20px;
                }
                button{
                    padding: 0.5rem 1rem;
                }
            }
            .row{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .image{
                    width: 100%;
                    img{
                        object-fit: fill;
                    }
                }
            }
        }
    }
}