<div class="main">
    <div class="profile">
        <img src="../../../../assets/Images/profile.png">
        <div>
            <label>username</label>
            <label>Email</label>
        </div>
        <i class="material-icons" #hover (click)="showDropdown()">
            expand_more
            <ul class="dropdown" *ngIf="dropdown">
                <li><a [routerLink]='["/dashboard"]'><i class="material-icons">dashboard</i> Dashboard</a></li>
                <li><a><i class="material-icons">dark_mode</i> Dark Mode</a></li>
                <li><a><i class="material-icons">logout</i> Sign out</a></li>
            </ul>
        </i>
    </div>
    <div class="strategy">

    </div>
</div>