<div class="main">
    <h1>Edit</h1>
    <form [formGroup]="featuresForm" (ngSubmit)="onSubmit()">
        <div>
            <label>Name</label>
            <input type="text" formControlName="name">
        </div>
        <div>
            <label>Price</label>
            <input type="number" formControlName="amount">
        </div>
        <div>
            <label>Currencey</label>
            <select name="currencey" id="currencey" formControlName="currency">
                <option value="1">euro</option>
                <option value="0">dollar</option>
            </select>
        </div>
        <div>
            <label>Period</label>
            <select name="period" id="period" formControlName="period">
                <option value="01">1 Month</option>
                <option value="03">3 Month</option>
                <option value="06">6 Month</option>
                <option value="11">12 Month</option>
            </select>
        </div>
        <div class="features">
            <label>ّFeatures</label>
            <div formArrayName="features">
                <div *ngFor="let option of features$ | async" class="options">
                    <label>{{option.name}} <input type="checkbox" [value]="option.id" (change)="onCheckboxChange($event)"></label>
                </div>
            </div>
        </div>
        <div>
            <label>Description</label>
            <input type="text" formControlName="descriptions">
        </div>
        <div class="footer">
            <button>Edit</button>
            <button (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>