<div class="body">
    <div class="plan">
        <div class="chart">
            <h3>Diamond Plan</h3>
            <h4>27 Days left</h4>
        </div>
    </div>
    <div>
        <div class="packages">
            <h2>Upgrade my plan</h2>
            <div class="row">
                <span class="col-md-4">
                    <app-card [cardtype]="'silver'" [cardvalue]="35"></app-card>
                </span>
                <span class="col-md-4">
                    <app-card [cardtype]="'Dimond'" [cardvalue]="75"></app-card>
                </span>
                <span class="col-md-4">
                    <app-card [cardtype]="'Gold'" [cardvalue]="55"></app-card>
                </span>
            </div>
        </div>
    </div>
</div>