@import "../../../../assets/styleSotrage/mixinss";
@mixin section{
    background: #FFF;
    border-radius: 15px;
    padding: 1rem;
}
.body{
    background-color: #E5E5E5;
    padding: 2rem;
    height: 100vh;
    overflow-y: scroll;
}
.plan{
    @include section;
    display: flex;
    flex-direction: row;
    align-items: center;
    > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .chart{
        position: relative;
        h3{
            @include gradiant;
            position: absolute;
            left: 40%;
            top: 37%;
        }
        h4{
            color: #4D4D63;
        }
    }
}
h2{
    color: #16161E;
    margin-top: 2rem;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10rem;
    text-align: center;
}
.packages{
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 3rem 5rem;
    gap: 1rem;
}
.row{
    margin-top: 2rem;
}
@media (max-width: 426px){
    .body{
        padding: 1rem;
    }
    .packages{
        padding: 1rem;
    }
    .col-md-4{
        margin-top: 1rem;
    }
}