@import "../../../assets/styleSotrage/mixinss";

.subscribe{
    padding: 5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(91.47deg, #262063 3.55%, #E6284A 96.95%);
    opacity: 0.93;
    h2{
        font-size: 40px;
        line-height: 50px;
    }
    h5{
        font-size: 18px;
        line-height: 30px;
    }
    .input{
        padding: 0.5rem 1rem;
        background-color: rgba($color: #000000, $alpha: 0.29);
        border-radius: 37px;
        width: 50%;
        input{
            color: #fff;
            background: transparent;
            border: none;
            width: 75%;
            padding: 0.25rem;
            &:focus{
                outline: none;
                background-color: transparent;
            }
        }
        button{
            z-index: 2;
            opacity: 1;
            color: black;
            border-radius: 37px;
            padding: 0.5rem 1rem;
            border: none;
            width: 25%;
        }
    }
}