<body class="body">
    <as-split direction="horizontal" class="test">
		<as-split-area id="leftSide" [size]="22" [maxSize]="30" [minSize]="20">
			<as-split direction="vertical" >
				<header>
					<div>
						<h2>Harmonic Pattern - Live</h2>
						<i class="material-icons">close</i>
					</div>
				</header>
				<div class="sidebar">
					<nav class="type">
						<ul>
							<li><a (click)="onReversal()">Reversal</a></li>
							<li><a (click)="onCandle()">Candel</a></li>
							<li><a (click)="onHarmonic()" class="active">Harmonic</a></li>
							<li><a (click)="onContinuous()">Continuous</a></li>
						</ul>
					</nav>
					<nav>
						<ul>
							<li><a class="active">Inputs</a></li>
							<li><a>Settings</a></li>
						</ul>
					</nav>
					<div class="inputs">
						<app-inputs [input]="input"></app-inputs>
					</div>
				</div>
			</as-split>
		</as-split-area>
		<as-split-area id="midleside" [size]="78">
			<as-split direction="vertical">
				<as-split-area>
					<div>
                        <app-tab></app-tab>
                    </div>
					<as-split direction="horizontal">
						<as-split-area id="charttSide" [size]="60">
							<as-split direction="vertical">
								<as-split-area [size]="40" [minSize]="20" class="hidescroll">
									<app-chart></app-chart>
								</as-split-area>
								<as-split-area [size]="60" [minSize]="40" class="hidescroll">
									<div class="tester">
                                        <header>
                                            <nav class="links">
                                                <ul>
                                                    <li>
                                                        <a class="strategytest">Setting</a>
                                                    </li>
                                                    <li>
                                                        <a class="active">Security</a>
                                                    </li>
                                                    <li>
                                                        <a class="active">View:Default</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                            <span class="page">
                                                <button class="minimize"><i class="material-icons">minimize</i></button>
                                                <button class="expand"></button>
                                            </span>
                                        </header>
                                        <div class="hidescroll">
                                            <app-trading></app-trading>
                                            <app-settings></app-settings>
                                        </div>
                                    </div>
								</as-split-area>
							</as-split>
						</as-split-area>
						<as-split-area id="listside" [size]="33" [minSize]="25" [maxSize]="35">
							<as-split direction="vertical">
								<as-split-area [size]="40" [minSize]="25" [maxSize]="60" class="hidescroll">
                       		 		<div class="list ">
                            			<app-list></app-list>
                        			</div>
				    			</as-split-area>
				    			<as-split-area [size]="60" [minSize]="40" [maxSize]="75" class="hidescroll">
					    			<div class="info ">
                            			<app-information></app-information>
                        			</div>
				    			</as-split-area>
							</as-split>
						</as-split-area>
						<as-split-area [size]="7" [lockSize]="true" id="rightside">
							<div class="tool">
                            	<app-tools></app-tools>
                        	</div>
						</as-split-area>
					</as-split>
				</as-split-area>
			</as-split>
		</as-split-area>
	</as-split>
</body>