<body class="body">
    <as-split direction="horizontal" class="test">
		<as-split-area id="leftSide" [size]="20" [maxSize]="30" [minSize]="20">
			<as-split direction="vertical" >
				<as-split-area [size]="7" [lockSize]="true">
					<header>
                        <div>
                            <h2>Harmonic Pattern - Live</h2>
                            <i class="material-icons">close</i>
                        </div>
                    </header>
				</as-split-area>
				<as-split-area [size]="20" [maxSize]="25" [minSize]="20">
					<nav class="type">
                        <ul>
                            <li><a>Reversal</a></li>
                            <li><a>Chanel</a></li>
                            <li><a class="active">Harmonic</a></li>
                            <li><a>continuous</a></li>
                        </ul>
                    </nav>
				</as-split-area>
				<as-split-area [size]="20" [maxSize]="20" [minSize]="15">
					<nav>
                        <ul>
                            <li><a class="active">Inputs</a></li>
                            <li><a>Settings</a></li>
                        </ul>
                    </nav>
				</as-split-area>
				<as-split-area [size]="53" [maxSize]="75" [minSize]="25">
					<div class="inputs">
                        <app-inputs></app-inputs>
                    </div>
				</as-split-area>
			</as-split>
		</as-split-area>
		<as-split-area id="midleside" [size]="80">
			<as-split direction="vertical">
				<as-split-area>
					<div>
                        <app-tab></app-tab>
                    </div>
					<as-split direction="horizontal">
						<as-split-area id="charttSide" [size]="60">
							<as-split direction="vertical">
								<as-split-area [size]="40" [minSize]="20">
									<app-chart></app-chart>
								</as-split-area>
								<as-split-area [size]="60" [minSize]="40">
									<div class="tester">
                                        <header>
                                            <nav class="links">
                                                <ul>
                                                    <li>
                                                        <a class="strategytest">Setting</a>
                                                    </li>
                                                    <li>
                                                        <a class="active">Security</a>
                                                    </li>
                                                    <li>
                                                        <a class="active">View:Default</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                            <span class="page">
                                                <button class="minimize"><i class="material-icons">minimize</i></button>
                                                <button class="expand"></button>
                                            </span>
                                        </header>
                                        <div class="hidescroll">
                                            <app-trading></app-trading>
                                            <app-settings></app-settings>
                                        </div>
                                    </div>
								</as-split-area>
							</as-split>
						</as-split-area>
						<as-split-area id="listside" [size]="33" [minSize]="25" [maxSize]="35">
							<as-split direction="vertical">
								<as-split-area [size]="40" [minSize]="25" [maxSize]="60">
                       		 		<div class="list hidescroll">
                            		<app-list></app-list>
                        			</div>
				    			</as-split-area>
				    			<as-split-area [size]="60" [minSize]="40" [maxSize]="75">
					    			<div class="info hidescroll">
                            			<app-information></app-information>
                        			</div>
				    			</as-split-area>
							</as-split>
						</as-split-area>
						<as-split-area [size]="7" [lockSize]="true">
							<div class="tool">
                            	<app-tools></app-tools>
                        	</div>
						</as-split-area>
					</as-split>
				</as-split-area>
			</as-split>
		</as-split-area>
	</as-split>
</body>