@import "../../../assets/styleSotrage/vars";
@import "../../../assets/styleSotrage/mixinss";
@mixin checkboxes {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
@mixin col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.test{
    width: 100vw;
    height: 100vh;
}
.body{
    background-color: $platformBackground;
    gap: 0.06rem;
    overflow-y: auto;
    header{
        height: 10%;
        background-color: $platformBackground;
        div{
            display: flex;
            justify-content: space-between;
            padding: 0 0.5rem;
        }
        h2{
            font-size: 18px;
            color: #D6D6EE;
        }
        i{
            cursor: pointer;
            color: #8282B2;
        }
    }
    .profile{
        background-color: $platformBackground;
        .tab{
            float: right;
        }
    }
    .sidebar{
        height: 100%;
        background-color: $platformBackground;
        @include col();
        .type{
            @include center;
            margin: 0;
            padding: 0;
            margin-left: -2rem;
            border-top: 0.05rem solid $platformBorder;
            border-bottom: 0.05rem solid $platformBorder;
        }
        nav{
            height: 10%;
            ul{
                @include checkboxes();
            }
            a{
                color: #545486;
                font-size: 16px;
                text-decoration: none;
            }
            a.active{
                color: #D6D6EE;
            }
        }
        .inputs{
            margin: 0;
            height: 80%;
        }
    }
    .tester{
        background-color: $platformBackground;
        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $platformNotActive;
            .links{
                ul{
                    margin: 0;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    li{
                        @include center();
                    }
                    a{
                        padding: 1rem;
                        color: #CCCCE4;
                        text-decoration: none;
                    }
                    a.active{
                        background-color: $platformBackground;
                    }
                    .strategytest{
                        padding-left: 0;
                    }
                }
            }
            .page{
                margin-right: 1rem;
                @include center();
                gap: 1rem;
                button{
                    background-color: transparent;
                    border: thin $border solid;
                    border-radius: 5px;
                    @include center();
                    i{
                        color: #7A7AB1;
                        font-size: 18px;
                    }
                }
                .minimize{
                    width: fit-content;
                    height: fit-content;
                }
            }
        }
    }
    .data{
        background-color: $platformBackground;
        overflow-y: auto;
    }
    .tool{
        background-color: $platformBackground;
        height: 100%;
    }
}
.hidescroll::-webkit-scrollbar{
    display: none;
}
.hidescroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}