body{
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 2rem;
    padding: 3rem 0 ;
    ul{
        border: thin solid #E9E9F4;
        border-radius: 12px;
        padding: 0;
        font-size: 20px;
        line-height: 30px;
        list-style: none;
        li{
            &:not(:last-child){
                border-bottom: thin solid #E9E9F4;
            }
        }
        a{
            color: #191633;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
        }
        a.active{
            background-color: #393884;
            color: #fff;
        }
    }
    main{
        // padding: 0 3rem 3rem 3rem;
        padding: 3rem;
    }

}