.body{
    padding: 3rem;
    h1{
        font-weight: normal;
        font-size: 27px;
        line-height: 35px;
        color: #16161E;
    }
    form{
        > div{
            margin-top: 2rem;
        }
        .input{
            display: flex;
            align-items: center;
            padding: 00.5rem;
            border: thin solid #E9E9F4;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            width: 75%;
            input{
                border: none;
                margin-left: 10px;
                width: 95%;
                padding: 0.5rem;
            }
            label{
                font-size: 16px;
                line-height: 30px;
                color: #514F67;
            }
        }
        button{
            width: 25%;
            padding: 1rem;
            border: none;
            border-radius: 10px;
            background-color: #7146EB;
            color: #fff;
        }
    }
}