<div class="body">
    <h1>Change Password</h1>
    <form>
        <div>
            <label>My current password :</label>
            <div class="input">
                <input type="password" #password><i class="material-icons">visibility</i>
            </div>
        </div>
        <div>
            <label>Confirm password :</label>
            <div class="input">
                <input type="password" #password><i class="material-icons">visibility</i>
            </div>
        </div>
        <div>
            <label>New Password :</label>
            <div class="input">
                <input type="password" #password><i class="material-icons">visibility</i>
            </div>
        </div>
        <div>
            <button>Change Password</button>
        </div>
    </form>
</div>