section{
    display: grid;
    gap: 2rem;
    padding: 1rem;
    .cards{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    .example-margin {
        margin: 1rem;
      }
      .first{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
      }
    .features{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}