<section >
    <h2>Plans</h2>
    <div class="cards">
        <div *ngFor="let plan of plans$ | async">
            <app-plan-card [name]="plan.name" [amount]="plan.amount" [currency]="plan.currency" [features]="plan.features" [id]="plan.id"></app-plan-card>
        </div>
    </div>
</section>
<section>
    <header>
        <h1>Create new plans</h1>
    </header>
    <form [formGroup]="featuresForm" (ngSubmit)="onSubmit()">
        <div class="first">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>Price</mat-label>
              <input matInput type="number" class="example-right-align" placeholder="0" formControlName="amount">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Currencey</mat-label>
              <mat-select name="currency" id="currency" formControlName="currency">
                  <mat-option value="0">Dollar</mat-option>
                <mat-option value="1">EURO</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Period</mat-label>
              <mat-select name="currency" id="currency" formControlName="currency">
                <mat-option value="01">1 Month</mat-option>
                <mat-option value="03">3 Month</mat-option>
                <mat-option value="06">6 Month</mat-option>
                <mat-option value="11">12 Month</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div>
            <label>ّFeatures</label>
            <div formArrayName="features" class="features">
                <div *ngFor="let option of features$ | async" class="options">
                    <mat-checkbox color="primary" class="example-margin" [value]="option.id" (change)="onCheckboxChange($event)">{{option.name}}</mat-checkbox>
                </div>
            </div>
        </div>
        <button mat-raised-button>Add Plan</button>
    </form>
</section>