<footer>
    <section>
        <div class="description">
            <div id="logo">
                <h1><i class="fas fa-gem"></i>Hunttern</h1>
            </div>
            <p>Hunt with Hunttern!</p>
            <ul>
                <li><i class="fa fa-youtube" aria-hidden="true"></i></li>
                <li><i class="fa fa-reddit" aria-hidden="true"></i></li>
                <li><i class="fa fa-telegram" aria-hidden="true"></i></li>
                <li><i class="fa fa-discord"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-linkedin"></i></li>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-twitter"></i></li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li>Menu</li>
                <li><a [routerLink]="['/home']">Home</a></li>
                <li><a [routerLink]="['/blog']">Blog</a></li>
                <li><a [routerLink]="['/platform']">Platform</a></li>
                <li><a [routerLink]="['/article']">Article</a></li>
            </ul>
        </div>
        <div class="services">
            <ul>
                <li>Product</li>
                <li><a>MetaTrader</a></li>
                <li><a>Telegram Bot</a></li>
            </ul>
        </div>
        <div class="information">
            <ul>
                <li>Information</li>
                <li><a>Privacy & Policy</a></li>
                <li><a>F&Q</a></li>
                <li><a [routerLink]="['/terms']">Terms of use</a></li>
            </ul>
        </div>
        <div class="contact">
            <ul>
                <li>Contact</li>
                <li>
                    <label><i class="material-icons">email</i>info@hunttern.com</label>
                </li>
            </ul>
        </div>
    </section>
    <div class="rights">
        <label>© 2022 Hunttern.com. All rights reserved</label>
    </div>
</footer>