@import '../../../../../assets/styleSotrage/vars';
@import '../../../../../assets/styleSotrage/fonts';
section{
    padding: 0 10px;
    header{
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        h3{
            position: relative;
            top: 8px;
        }
        font-size: $secondary;
        background-color: #313029;
        color: rgb(160, 160, 160);
    }
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        padding: 1rem;
        background-color: #1d1d1d;
        color: #fff;
        span{
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}