<mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Timeframe</mat-panel-title>
        </mat-expansion-panel-header>
        <body>
            <mat-checkbox class="custom-frame" [color]="" name="timeframe">M15</mat-checkbox>
            <mat-checkbox class="custom-frame" name="timeframe">H1</mat-checkbox>
            <mat-checkbox class="custom-frame" name="timeframe">H4</mat-checkbox>
            <mat-checkbox class="custom-frame" name="timeframe">D1</mat-checkbox>
        </body>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Pattern Status</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group>
            <mat-radio-button value="complete">Complete</mat-radio-button>
            <mat-radio-button value="completing">Completing</mat-radio-button>
            <mat-radio-button value="prediction">Prediction</mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Stock</mat-panel-title>
        </mat-expansion-panel-header>
        <body>
            <mat-checkbox class="custom-frame" [color]="" name="Market">Crypto</mat-checkbox>
            <mat-checkbox class="custom-frame" name="Market">Forex</mat-checkbox>
            <mat-checkbox class="custom-frame" name="Market">Stock</mat-checkbox>
        </body>
    </mat-expansion-panel>
</mat-accordion>