<body>
	<div [style.width]="w1+'%'" class="col1">
		<div class="hidescroll" [style.height]="h1+'%'" class="chart">
			<app-chart></app-chart>
			  <span Row (relative)="setPerY1($event)"></span>
		</div>
		<header class="hidescroll">
			<div *ngIf="screener" class="preview">
				<h2>Screener</h2>
				<span class="buttons">
					<button class="minimize" (click)="Minitrade()"><i class="material-icons">expand_more</i></button>
					<button class="minimize" (click)="Maxitrade()"><i class="material-icons">expand_less</i></button>
				</span>
			</div>
			<div class="mainHeader" *ngIf="!screener">
				<nav>
					<ul>
						<li><a class="strategytest" (click)="onSetting()">Setting <i class="material-icons">settings</i></a></li>
						<li><a class="active">Asset <i class="material-icons">work</i></a></li>
					</ul>
				</nav>
				<span *ngIf="!screener" class="buttons">
					<button class="minimize" (click)="Minitrade()"><i class="material-icons">expand_more</i></button>
					<button class="minimize" (click)="Maxitrade()"><i class="material-icons">expand_less</i></button>
				</span>
			</div>
		</header>
		<div class="hidescroll screener" [style.height]="h2+'%'">
			<div class="hidescroll">
				<app-trading></app-trading>
			</div>
		</div>
	</div>
	<div class="col2" [style.width]="w2+'%'">
		<div class="hidescroll setting" [ngSwitch]="tool">
			<app-whatchlist *ngSwitchCase="'chart'"></app-whatchlist>
			<app-inputs *ngSwitchCase="'inputs'"></app-inputs>
		</div>
		<span Col (relative)="setPerX2($event)"></span>
	</div>
	<div [style.width]="w3+'%'">
		<app-tools (panel)="setTool($event)"></app-tools>
	</div>
</body>