main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "list"
                         "info";
    height: 100%;
    .list{
        grid-area: list;
        height: 100%;
        overflow: auto;
    }
    .info{
        grid-area: info;
        height: 100%;
        overflow: auto;
    }
}
.hidescroll::-webkit-scrollbar{
    display: none;
}
.hidescroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}