<article>
    <ul>
        <li>
            <h2>About the website:</h2>
            <p>Welcome to the Hunttern platform. The Hunttern platform with the ability to analyze and intelligent financial markets assistant allows you to easily find harmonic, continuous, return patterns and etc.
                Hunttern is not active in providing legal, financial, accounting services.
                Please read these terms and conditions carefully. Using Hunttern or purchasing one of its plans indicates that you are agree with the terms of use .Conversely, if you do not accept these terms, it means that you will not use Hunttern and its services. If you do not agree to these terms and conditions, you must stop accessing and using Hunttern and any of its services.
                Hunttern reserves the right to revise and modify any terms and conditions by updating this page at its sole discretion. When the company updates the terms and conditions, it will make a reasonable effort to notify you of updates to the terms and conditions, but it is being to you check the terms and conditions to be aware of any changes. It should be noted that your resumption access to Hunttern means you accept and agree to these changes. Before accessing and using the website services, be sure to carefully read the terms and conditions ahead. Let us know your questions about these terms and conditions via the email address below.
            </p>
            <p>Email: Info@hunttern.com</p>
        </li>
        <li>
            <h2>Acceptance of conditions</h2>
            <p>By continuing to use Hunttern and its services, you indicate that you have accepted the terms and conditions. You also agree to the terms and conditions by clicking on the accept box.</p>
        </li>
        <li class="register">
            <h2>Register to use the website</h2>
            <ul>
                <li>
                    <p>The first step to accessing the website is to register as a user on the site. As a part of the site registration process, you may be asked to enter some of your personal information, such as:</p>
                    <ul class="disc">
                        <li>first name and last name</li>
                        <li>Email address</li>
                    </ul>
                </li>
                <li>
                    <p>You agree that any information you provide to the Company in order to complete the registration process is accurate, new and true.</p>
                </li>
                <li>
                    <p>Once the registration process is completed, you become a member of the Website and accept the limitations of these terms and conditions. As a member, you are granted instant access to the site services.</p>
                </li>
            </ul>
        </li>
        <li>
            <h2>user obligations</h2>
            <p>You, as a member of the website, agree to follow the following items:</p>
            <ul class="disc">
                <li>You have an individual responsibility to protect the confidentiality of your password or email address. Using your password by any other person may result in the immediate revocation of your access.</li>
                <li>Any use of registration information by another person or third parties is strictly prohibited. You agree to immediately notify the Company of any unauthorized use of your password or email address or of any security breaches you become aware.</li>
                <li>Access to and use of this website is limited, non-transferable and only allowed to be used by you based on the purposes provided by this company.</li>
            </ul>
        </li>
        <li>
            <h2>Purchasing the plan and refund criteria</h2>
            <ul>
                <li>
                    <p>in order To use the website services, you have to pay the purchase fee specified on the website for the desired plan.</p>
                </li>
                <li>
                    <p>Payment of the purchase fee may be made through one of the providers of approved payment gateways on the website. You warrant that you are fully acquainted with the Services for using the Website and accept the limitations of the Terms and Conditions, the Privacy Policy and other legal documents created by the Payment Portals.</p>
                </li>
                <li>
                    <p>After payment, the purchase price is confirmed by this company. You will receive confirmations indicating that your payment has been received by the Company and the Company may record purchase details for future use.</p>
                </li>
            </ul>
        </li>
        <li>
            <h2>Hunttern does not give any guarantee to buy plans and you can use the free version or trial versions for reassurance and then proceed to buy non-free plans.</h2>
        </li>
        <li>
            <h2>Copyright and Intellectual Property</h2>
            <ul>
                <li>
                    <p>Website, services and all plans related to this company are subject to copyright. The contents of the website (including writings, photos, videos, logos and voices) are protected by copyright under international law and international treaties.</p>
                </li>
                <li class="rights">
                    <p>This Company reserves all rights and interests related to the website:</p>
                    <ul class="disc">
                        <li>
                            <p>Business name, brand, site name and address, trademark, industrial design, patent and copyright of the company</p>
                        </li>
                        <li>
                            <p>The right to use business name, brand, industrial design, and trademark, etc...</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <h2>Privacy</h2>
            <ul>
                <li><p>This Company considers your privacy as a serious matter and any information that is provided through your use of the program or services is related to the privacy policy of this company that is contained in the program.</p></li>
            </ul>
        </li>
        <li>
            <h2>Disclaimer</h2>
            <p>We do not guarantee that the quality of the company's products and information is exactly what you expect.</p>
            <ul>
                <li>Nothing is restricted in these terms and conditions unless prohibited and restricted by law.</li>
                <li>The price of products and services may change without prior notice and in this case the website will not be liable to users.</li>
                <li>This Company does not guarantee or confirm that your use of the website services is uninterrupted, timely, secure and error free. In this case, the company is not responsible.</li>
                <li>Financial markets are always risky. Hunttern has no responsibility for providing data or trading opportunities and the user should be aware of the risk of financial markets.</li>
                <li>The Company does not guarantee that the results that may be obtained from the use of the Website and its Services will be accurate and reliable. You also acknowledge that sometimes the company may change the service for a certain period of time or cancel the service at any time without prior notice to you.</li>
            </ul>
        </li>
        <li>
            <h2>Limitation of liability</h2>
            <ul>
                <li>The third party links on this website may direct you to sites that are not affiliated with this company. We do not guarantee these sites and we have no responsibility for these sites to users. We are also not responsible for any damage caused by the use of third-party products, services or sites.</li>
            </ul>
        </li>
        <li>
            <h2>Termination of the contract</h2>
            <ul>
                <li>These terms will apply as long as the contract is terminated by you or the company.</li>
                <li>If you want to end these terms and conditions, you have to do the following:
                    <ul class="disc">
                        <li>These terms will apply as long as the contract is terminated by you or the company.</li>
                        <li>Close your accounts for all the services you use, through the part that this company has put this option for you.</li>
                    </ul>
                </li>
                <li>The Company may terminate these Terms and Conditions with you at any time if:
                    <ul class="disc">
                        <li>You have violated any of these terms and conditions or intend to violate any of these terms and conditions.</li>
                        <li>When the company is required by law to take this action.</li>
                        <li>The partner through whom this company provided its services to you has either terminated its relationship with this company or has stopped providing purchasing services to you.</li>
                        <li>Providing services to you at the discretion of this company is no longer reliable.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</article>