@import "../../../assets/styleSotrage/vars";
@import "../../../assets/styleSotrage/mixinss";
$fontSize: 1rem;
$bordersize: 10px;
.hidescroll::-webkit-scrollbar{
    display: none;
}
.hidescroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body{
    background-color: $platformBackground;
    height: 100vh;
    overflow: hidden;
    display: flex;
    h2{
        padding: 0 1rem;
        font-size: $fontSize;
    }
    span{
        background-color: $platformBorder;
    }
    .col1{
        display: grid;
        background-color:  $platformBackground;
        position: relative;
        padding-right: $bordersize;
        color: $primary;
        h2{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .C1{
            overflow-y: auto;
        }
        span{
            position: absolute;
            right: 0;
            width: $bordersize;
            height: 100%;
        }
        .inputs{
            width: 100%;
        }
    }
    .col2{
        background-color: $platformBackground;
        display: flex;
        flex-direction: column;
        .row1{
            position: relative;
            width: 100%;
            padding-bottom: $bordersize;
            overflow-y: scroll;
            span{
                position: absolute;
                height: $bordersize;
                width: 100%;
                bottom: 0;
            }
        }
        .row2{
            width: 100%;
            overflow-y: scroll;
            .page{
                display: flex;
                gap: 1rem;
                button{
                    background-color: transparent;
                    border: none;
                    border-radius: 1rem;
                }
            }
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $platformNotActive;
                .links{
                    ul{
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        li{
                            @include center();
                        }
                        a{
                            padding: 0.75rem;
                            color: #CCCCE4;
                            text-decoration: none;
                        }
                        a.active{
                            background-color: $platformBackground;
                        }
                        .strategytest{
                            padding-left: 0;
                        }        
                    }
                }
            }
        }
    }
    .col3{
        display: grid;
        background-color:  $platformBackground;
        position: relative;
        padding-left: $bordersize;
        color: $primary;
        .C1{
            overflow-x: hidden;
            overflow-y: scroll;
        }
        .input{
            width: 100%;
        }
        span{
            position: absolute;
            left: 0;
            width: $bordersize;
            height: 100%;
        }
    }
    .col4{
        width: 3%;
        height: 100vh;
        border-left: thin solid $platformBorder;
    }
}