@import "../../../assets/styleSotrage/vars";
@import "../../../assets/styleSotrage/mixinss";

.hidescroll::-webkit-scrollbar{
    display: none;
}
.hidescroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    span{
        background-color: $platformBorder;
    }
    .col1{
        display: grid;
        background-color:  $platformBackground;
        position: relative;
        padding-right: 15px;
        color: $primary;
        h2{
            padding: 1rem;
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        span{
            position: absolute;
            right: 0;
            width: 15px;
            height: 100%;
        }
    }
    .col2{
        background-color: $platformBackground;
        display: flex;
        flex-direction: column;
        .row1{
            position: relative;
            width: 100%;
            padding-bottom: 15px;
            span{
                position: absolute;
                height: 15px;
                width: 100%;
                bottom: 0;
            }
        }
        .row2{
            width: 100%;
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $platformNotActive;
                .links{
                    ul{
                        margin: 0;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        li{
                            @include center();
                        }
                        a{
                            padding: 1rem;
                            color: #CCCCE4;
                            text-decoration: none;
                        }
                        a.active{
                            background-color: $platformBackground;
                        }
                        .strategytest{
                            padding-left: 0;
                        }        
                    }
                }
            }
        
        }
    }
    .col3{
        background-color: $platformBackground;
        position: relative;
        padding-left: 15px;
        display: grid;
        .COL{
            position: absolute;
            left: 0;
            height: 100%;
            width: 15px;
        }
        .parent{
            display: grid;
            .toolbar{
                border-left: thin solid $platformBorder;
            }
        }
        .row1{
            position: relative;
            .ROW{
                position: absolute;
                bottom: 0;
                height: 15px;
                width: 100%;
            }
        }
    }
    .col4{
        width: 3%;
        height: 100vh;
        background-color: $platformBackground;
        border-left: thin solid $platformBorder;
    }
}