<section class="row">
    <div class="col-md-5 image">
        <img src="../../../assets/Images/Bitcoinservice.png">
    </div>
    <div class="col-md-7 content row">
        <div class="header">
            <h2>Significantly increase your trading profitability!</h2>
            <p> Harmonic patterns with more than 85% accuracy provide you with countless opportunities, but do not worry! You do not need to search in a multitude of different markets. Huntran will find it for you!</p>
        </div>
        <div class="row description">
            <div class="col-md-6">
                <h3><span><img src="../../../assets/Images/eagleeye.png"></span>Eagle eye</h3>
                <p>Eagle-eyed accuracy allows you to alert all trading positions in all crypto, forex and stock markets without constant presence and charting.</p>
            </div>
            <div class="col-md-6">
                <h3><span><img src="../../../assets/Images/hunttern.png"></span>Hunter</h3>
                <p>A hunter in every sense of the word, with Huntern Smart Screener you will be able to track all the trading opportunities exist in the market and grab all future trading positions.</p>
            </div>
        </div>
    </div>
</section>