@import "../../../assets/styleSotrage/mixinss";
@import "../../../assets/styleSotrage/vars";
section{
    @include _center();
    padding: 0 5rem;
    background-color: $backcolor;
    .image{
        img{
            width: 100vh;
            height: 100vh;
        }
    }
    .content{
        @include _center();
        padding: 5rem;
        color: antiquewhite;
        .header{
            margin-bottom: 4rem;
            h2{
                font-size: 44px;
                line-height: 70px;
                color: #FFFFFF;
            }
            p{
                font-size: 20px;
                line-height: 31px;
                color: #D1CFEA;
            }
        }
        .description{
            h3{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
                color: #FFFFFF;
                font-size: 24px;
                line-height: 62px;
            }
            p{
                color: #8D89BC;
                font-size: 18px;
                line-height: 30px;
            }
            span{
                @include _center();
                background-color: #302975;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
@media (max-width: 426px){
    section{
        padding: 1rem;
        .image{
            display: none;
        }
        .content{
            padding: 1rem;
            .header{
                h2{
                    font-size: 30px;
                    line-height: 40px;
                }
                p{
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .description{
                h3{
                    font-size: 20px;
                    line-height: 30px;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
                p{
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}