<section>
    <div class="header">
        <h2>Services we do</h2>
        <p>Lightning fast transactions.Buy and sell with ease and peace of mind.Invest in cryptocurrency today with just a few clicks</p>
    </div>
    <div class="services">
        <app-service 
            [title]="'Screener'" 
            [content]="'Lightning fast transactions.Buy and sell with ease and peace of mind.'"
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Telegram Bot'" 
            [content]="'Lightning fast transactions.Buy and sell with ease and peace of mind.'" 
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Patterns'" 
            [content]="'Lightning fast transactions.Buy and sell with ease and peace of mind.'" 
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Prediction'" 
            [content]="'Lightning fast transactions.Buy and sell with ease and peace of mind.'" 
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Statitsic'" 
            [content]="'Lightning fast transactions.Buy and sell with ease and peace of mind.'" 
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Customize'" 
            [content]="'Lightning fast transactions.Buy and sell with ease and peace of mind.'" 
            [imgUrl]="''">
        </app-service>
    </div>
</section>