<section>
    <div class="header">
        <h2>Services we do</h2>
        <p>Here you can find whatever you need in order to make a lot of profit on a smart platform</p>
    </div>
    <div class="services">
        <app-service 
            [title]="'Smart screener'" 
            [content]="'Finding all the positions of buying and selling and predicting in the market.'"
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Telegram Bot'" 
            [content]="'There is no need to find all the patterns on the website. There is a Telegram bot through which you can find all the signals easily. '" 
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Patterns'" 
            [content]="'You can have access to 30 harmonic patterns in short and long positions.'" 
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Prediction'" 
            [content]="'Even before the patterns are complete, you can have access to the positions.'" 
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Statitsic'" 
            [content]="'Accessing the statistics of each currency and the time frames and knowing about the targets and the possibility of their failure.'" 
            [imgUrl]="''">
        </app-service>
        <app-service 
            [title]="'Customization'" 
            [content]="'Customizing the patterns and the waves based on the possibility of failure according to your personalized strategy.'" 
            [imgUrl]="''">
        </app-service>
    </div>
</section>