<section>
    <h2>Packages we offer</h2>
    <div class="plans">
        <app-plan-card class="disable" [title]="'PRO'" [price]="39" [currencey]="'$'" [duration]="'month'" [options]="optionsCard1" [soon]='true'></app-plan-card>
        <app-plan-card [customeStyle]='premiumStyle' [title]="'PREMIUM'" [price]="0" [currencey]="'$'" [duration]="'month'" [options]="optionsCard2"></app-plan-card>
        <app-plan-card class="disable" [title]="'PRO+'" [price]="59" [currencey]="'$'" [duration]="'month'" [options]="optionsCard3" [soon]='true'></app-plan-card>
    </div>
</section>