<nav>
    <div id="navigation">
        <ul #links>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/home']">Home</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/features']">Blog</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/platform']">Platform</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/about']">Privacy policy</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/contact']">FAQ</a></li>
        </ul>
    </div>
    <div id="login">
        <a (click)="openLogin()">Start now</a>
    </div>
</nav>