@import "../../../../assets/styleSotrage/mixinss";
@import "../../../../assets/styleSotrage/vars";

nav{
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    position: relative;
    h2{
        z-index: 100;
        font-size: 1.75em;
        display: flex;
        align-items: center;
        color: #F76F72;
        letter-spacing: 0.25rem;
    }
    .navigation{
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 3rem;
        }
        a{
            font-weight: 400;
            font-size: 1.15em;
            line-height: 30px;
            text-align: center;
            color: #FFFFFF;
            text-decoration: none;
        }
        li{
            position: relative;
            display: grid;
            label{
                color: #FF3216;
                font-size: 1em;
                text-align: center;

            }
            &.product{
                ul{
                    position: absolute;
                    top: 2rem;
                    left: 0;
                    display: grid;
                    border: thin solid #fff;
                    border-radius: 0.25rem;
                    gap: 0;
                    padding: 0;
                    li{
                        text-align: start;
                        background-color: red;
                        a{
                            background-color: blueviolet;
                            padding: 1rem;
                            // background-color: #2C2C57;
                        }
                        &:not(:last-child){
                            border-bottom: thin solid #fff;
                        }
                    }
                }
            }

        }
    }
    .login{
        z-index: 100;
        display: flex;
        align-items: center;
        span{
            background: rgba($color: #fff, $alpha: 0.1);
            box-shadow: 0px 17px 40px rgba(0, 0, 0, 0.08);
            padding: 0.75rem 2rem;
            border-radius: 1.5rem;
            a{
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
    .burger{
        z-index: 100;
        display: none;
        background-color: transparent;
        border: none;
        span{
            color: #fff;
            font-size: 2em;
        }
    }
}
@media (max-width: 821px){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navigation{
            z-index: 200;
            position: absolute;
            top: 4rem;
            right: 0;
            transform: translateX(100%);
            transition: 250ms ease-in;
            ul{
                display: flex;
                flex-direction: column;
                background-color: #0E0C1F;
                opacity: 1;
                padding: 0;
                gap: 0rem;
                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 1rem;
                    text-align: center;
                    border-bottom: thin #fff solid;
                }
            }
        }
        .burger{
            display: flex;
            flex-direction: column;
        }
        .nav-active{
            transform: translateX(0%);
        }
    }
}
@media (max-width: 426px){
    nav{
        padding: 1rem;
    }
}