<nav>
    <div class="navigation" [ngClass]="{'nav-active': navActive}">
        <ul #links>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/home']">Home</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/features']">Blog</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/platform']">Platform</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/about']">MetaTrader</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/about']">Privacy policy</a></li>
            <li><a [ngStyle]="{'color': linkColor}" [routerLink]="['/contact']">FAQ</a></li>
        </ul>
    </div>
    <div class="login">
        <span>
            <a (click)="openLogin()">Login</a>
        </span>
    </div>
    <button class="burger" (click)="onBurger()">
        <span class="material-icons">menu</span>
    </button>
</nav>