<body class="hidescroll">
    <nav>
        <ul>
            <li><a (click)="onClink('candle')">Candel</a></li>
            <li><a (click)="onClink('harmonic')" class="active">Harmonic</a></li>
            <li><a (click)="onClink('classic')">Classic</a></li>
        </ul>
    </nav>
    <form [formGroup]="input">
        <section class="zigzag">
            <div>
                <mat-slide-toggle color="primary" formControlName="zigzagdraw">Zigzag</mat-slide-toggle>
                <mat-slide-toggle color="primary" formControlName="prediction">Prediction</mat-slide-toggle>
            </div>
        </section>
        <section class="textinput">
            <div class="inputs">
                <div>
                    <label>Sensitivity :</label>
                    <input type="number" max="30" min="2" formControlName="zigzag">
                </div>
                <div>
                    <label>Error :</label>
                    <input type="number" max="30" min="1" formControlName="error">
                </div>
            </div>
        </section>
    </form>
    <div>
        <section *ngIf="harmonic">
            <app-harmonic (harmonicPatterns)="drawPatterns($event)"></app-harmonic>
        </section>
        <section *ngIf="candle">
            <app-candle (candlePatterns)="drawPatterns($event)"></app-candle>
        </section>
        <section *ngIf="classic">
            <app-classic (classicPatterns)="drawPatterns($event)"></app-classic>
        </section>
    </div>
</body>