<section>
    <h2>FAQ</h2>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>How we choose what to support</mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>What happens if your operating system is no longer supported</mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Forwarded messages are end-to-end encrypted</mat-panel-title>
            </mat-expansion-panel-header>
            <body>
            </body>
        </mat-expansion-panel>
    </mat-accordion>
</section>