<section>
    <h2>FAQ</h2>
    <mat-accordion>
        <mat-expansion-panel [expanded]="true" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="title">What is customization?</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <body>
                <p>You can have personalized strategies through which you can define the depth of each wave and according to the depth, there will be patterns for you found. Also, according to the amount of risk, you can define the percentage of failure.</p>
            </body>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="title">Can we try to platform before getting a subscription?</h3></mat-panel-title>
            </mat-expansion-panel-header>
            <body><p>Yes. You can register your PayPal and then try the platform for three days to make sure about the performance of the platform.</p></body>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="title">How can I pay?</h3></mat-panel-title>
            </mat-expansion-panel-header>
            <body>
                <p>Currently, you can pay for your plan through PayPal.</p>
            </body>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3 class="title">Will the information of my card be kept confidential?</h3></mat-panel-title>
            </mat-expansion-panel-header>
            <body>
                <p>Hunttern will not keep any account information. All the account information will be kept and reserved on PayPal.</p>
            </body>
        </mat-expansion-panel>
    </mat-accordion>
</section>