section{
    padding: 5rem 20rem;
    background-color: #131124;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    h2{
        text-align: center;
        font-size: 2.5em;
        line-height: 30px;
        color: #FFFFFF;
    }
    h3{
        font-size: 1em;
    }
    body{
        background-color: transparent;
        border-left: thin #584ED6 solid;
        padding-left: 1rem;
        p{
            color: #8B8A96;
            font-size: 1em;
        }
    }
    .title{
        padding: 1rem;
        font-size: 1.25em;
    }
    mat-accordion{
        mat-expansion-panel{
            background-color: #19182E !important;
            margin-top: 1rem;
            border-radius: 0.5rem !important;
            border: none !important;
        }
        mat-expansion-panel-header{
            mat-panel-title{
                color: #fff !important;

            }
        }
    }
}
@media (max-width: 426px){
    section{
        width: 100vw;
        padding: 1rem;
        mat-accordion{
            mat-expansion-panel-header{
                padding: 1rem !important;
                mat-panel-title{
                    font-size: 1em;
                }
            }
        }
        .title{
            padding: 1rem;
            font-size: 0.87em;
        }
    }
}