@import "../../../assets/styleSotrage/mixinss";
@import "../../../assets/styleSotrage/vars";

* {
    font-size: 19px;
    line-height: 30px;
    z-index: 2;
}
nav{
    display: grid;
    background-color: transparent;
    grid-template-columns: '1fr 2fr 1fr';
    grid-template-areas: "logo navigation login";
    padding-top: 0.5rem;
}
#logo{
    position: relative;
    left: 2rem;
    color: $maincolor;
    grid-area: logo;
    span{
        margin-left: 0.5rem;
        color: #E9E8F7;
    }
}
#navigation{
    grid-area: navigation;
    ul{
        @include _center;
        list-style: none;
        flex-direction: row;
        gap: 2rem;
        a{
            text-align: center;
        }
    }
}
#login{
    position: relative;
    right: 2rem;
    grid-area: login;
    a{
        position: relative;
        float: right;
        padding: 0.25rem 1.5rem;
        border: none;
        border-radius: 7px;
        background-color: $maincolor;
    }
}
a{
    text-decoration: none;
    color: #E9E8F7;
}