@import "../../../../assets/styleSotrage/vars";
@import "../../../../assets/styleSotrage/mixinss";

main{
    height: 100%;
    float: right;
    background-color: $platformBorder;
    display: grid;
    grid-template-columns: 2.5fr 0.5fr;
    grid-template-areas: "info alert";
    gap: 0.1rem;
    .info{
        padding: 0 1rem;
        height: 100%;
        grid-area: info;
        background-color: $platformBackground;
        display: flex;
        gap: 2rem;
        @include center();
        .photo{
            @include center();
            width: 35px;
            height: 35px;
        }
        .data{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            #username{
                font-size: 16px;
                line-height: 20px;
                color: #D6D6EE;
            }
            #email{
                font-size: 14px;
                color: #595983;
            }
        }
        .select{
            grid-area: select;
            @include center();
        }
    }
    .alert{
        grid-area: alert;
        overflow-y: hidden;
        background-color: $platformBackground;
        height: 100%;
        border-right: 0.1rem solid $border;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i{
        font-size: 25px;
        color:#8282B2;
        cursor: pointer;
    }
}