<div class="main">
    <header>
        <app-header (signal)="signalPanel()"></app-header>
    </header>
    <div class="body">
        <body [ngSwitch]="panel">
            <div class="chart">
                <section>
                    <app-chart></app-chart>
                </section>
                <section>
                    <app-signals></app-signals>
                </section>
            </div>
            <div *ngSwitchCase="'signal'" class="pattern" [@Inputpanel]="state">
                <app-inputs></app-inputs>
            </div>
        </body>
        <nav>
            <app-tools></app-tools>
        </nav>
    </div>
</div>
