@import '../../../assets/styleSotrage/vars';
.main{
    display: grid;
    grid-template-rows: 1fr 10fr;
    height: 100vh;
    width: 100vw;
    background-color: $platformBackground;
    color: $primary;
    .body{
        display: grid;
        grid-template-columns: 8fr 1fr;
        .chart{
            display: grid;
            grid-template-rows: 7fr 3fr;
            height: 100%;
        }
        .pattern{
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
        }
    }
}