@import "../../../../assets/styleSotrage/mixinss";
@import "../../../../assets/styleSotrage/fonts";
@import "../../../../assets/styleSotrage/vars";
nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: $platformBackground;
    border-left: 0.1rem $platformBorder solid;
    
    ul{
        list-style: none;
        display: grid;
        padding: 0;
        gap: 2rem;
    }
    li{
        position: relative;
        i{
            cursor: pointer;
            font-size: 2rem;
            color: #40406D;

        }
        .active{
            color: #F1F1F8;
        }
    }
    .main{
        margin-top: 3rem;
    }
    .pic{
        position: relative;
        .profile{
            width: 30px;
            height: 30px;
            border: 1px solid $platformBorder;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .dropdown{
            border-radius: 5px;
            border: 0.1rem solid $platformBorder;
            z-index: 2;
            background-color: $platformBackground;
            position: absolute;
            margin: 0;
            padding: 0;
            right: 2rem;
            top: 0;
            display: flex;
            flex-direction: column;
            a{
                padding: 1rem 1.5rem;
                &:not(:last-child){
                    border-bottom: 0.1rem solid $platformBorder;
                }
                display: flex;
                align-items: center;
                gap: 0.25rem;
                color: #D6D6EE;
                text-decoration: none;
                font-size: $secondary;
            }
        }
    }
}
@media (max-width: 821px){
    
}