<body>
    <header>
        <div class="tools">
            <span><i class="material-icons">email</i></span>
            <span><i class="material-icons">notifications</i></span>
            <div>
                <span class="profile">{{username[0]}}</span>
                <span class="data">
                    <label id="username">{{username}}</label>
                    <label id="plan">{{plan}}</label>
                </span>
                <i class="material-icons">expand_more</i>
            </div>
        </div>
    </header>
    <section>
        <div class="info">
            <h3>Username: {{username}}</h3>
            <h3>Email: {{email}}</h3>
            <button (click)="editInfo()">Edit</button>
        </div>
        <app-card [cardtype]="plan" [cardvalue]="75"></app-card>
    </section>
</body>