@import "../../../assets/styleSotrage/mixinss";
@import "../../../assets/styleSotrage/vars";
@mixin ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
body{
    padding: 3rem;
    background: #E5E5E5;
    .header{
        ul{
            @include ul;
            align-items: center;
            button{
                padding: 0.25rem 0.5rem;
                border-radius: 32.5px;
                border: none;
                background-color: #fff;
                color: #000;
                &:focus{
                    background: linear-gradient(91.53deg, #E8A82C 0%, #EB5729 99.45%);
                    color: #fff;
                }
            }
        }
    }
    .body{
        padding: 3rem;
    }
}