<div #title>
  <app-navigation></app-navigation>
  <h1>Our Blog</h1>
  <body>
    <div class="header">
      <ul>
        <li><button>Crypto currency</button></li>
        <li><button>Bitcoin</button></li>
        <li><button>Technology</button></li>
        <li><button>Network</button></li>
        <li><button>Bitcoin</button></li>
        <li><button>Technology</button></li>
        <li><button>Network</button></li>
      </ul>
    </div>
    <div class="body row">
      <app-newscard *ngFor="let item of newslist"></app-newscard>
    </div>
  </body>
</div>