<header>
    <span id="circle1"></span>
    <span id="circle2"></span>
    <span id="circle3"></span>
    <app-navigation class="hide" [linkColor]="'#E9E8F7'"></app-navigation>
    <div id="head">
        <div id="information">
            <h1>Find all harmonic patterns with the "Hunttern" platform</h1>
            <p>Harmonic patterns have an accuracy and profitability of at least 85%, but finding them manually and traditionally in all markets and at the same time in all available time frames is not an easy task, so you need a tool that Allows you to be alerted of upcoming trading situations in the shortest possible time. The Huntran platform allows you to do so, try the free version right now and feel the difference!</p>
            <button><a [routerLink]="['/admin']">Start now</a></button>
        </div>
        <div id="image" class="container">
            <img src="../../../assets/Images/DimondHeader.png">
        </div>
    </div>
</header>