<section>
    <div class="row">
        <div class="row head">
            <div class="col-md-6">
                <h1>Experience of safe and lasting <span>profitability </span>with Hunttern</h1>
            </div>
            <div class="col-md-6">
                <p>Start trading calmly, without worries with the facilities and support of Huntern! you have full access to the historical chart of all financial markets with Huntern, so start trading without any restrictions and do not miss any profit opportunity!</p>
            </div>
        </div>
        <div class="row head">
            <div class="col-md-4 feature">
                <h3><span><img src="../../../assets/Images/secure.png"></span>Full access Data</h3>
                <p>Have full access to all data in the Forex, Crypto and Stock markets.</p>
            </div>
            <div class="col-md-4 feature">
                <h3><span><img src="../../../assets/Images/shield.png"></span>Easy use</h3>
                <p>A simple platform with all the features you need all on one page and a unique user experience.</p>
            </div>
            <div class="col-md-4 feature">
                <h3><span><img src="../../../assets/Images/shield.png"></span>24/7</h3>
                <p>We are always with you 24 hours a day, 7 days a week, so that we can solve any problem or answer any question immediately.</p>
            </div>
        </div>
    </div>
    <div class="row part2">
        <div class="row">
            <div class="col-md-6 description">
                <h2>Without limits</h2>
                <p> With the unlimited capabilities of Huntern platform, you can use and monitor all financial markets such as crypto, forex and stocks. you can also use the web hook feature in addition to the web version in your favorite software and telegram bot of the platform. notification feature allows you to be aware of trading opportunities at anytime and anywhere and not miss any profitable opportunities.</p>
                <button>About us</button>
            </div>
            <div class="col-md-6 image">
                <img src="../../../assets/Images/world.png">
            </div>
        </div>
    </div>
</section>