@import '../../../../assets/styleSotrage/vars';
@import '../../../../assets/styleSotrage/fonts';
.body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem 0 1rem;
    color: $primary;
    i, span{
        cursor: pointer;
    }
    .logo{
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: $main;
        i{
            color: $maincolor;
            width: 25px;
            height: 25px;
            margin-right: 1rem;
        }
        h1{
            margin-left: 1rem;
        }
    }
    .left-side{
        display: flex;
        gap: 2rem;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 2rem;
        li{
            list-style: none;
        }
        .pic{
            position: relative;
            .profile{
                width: 30px;
                height: 30px;
                border: 1px solid $platformBorder;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .dropdown{
                border-radius: 5px;
                border: 0.1rem solid $platformBorder;
                z-index: 2;
                background-color: $platformBackground;
                position: absolute;
                margin: 0;
                padding: 0;
                right: -3rem;
                display: flex;
                flex-direction: column;
                a{
                    padding: 1rem 1.5rem;
                    &:not(:last-child){
                        border-bottom: 0.1rem solid $platformBorder;
                    }
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    color: #D6D6EE;
                    text-decoration: none;
                    font-size: $secondary;
                }
            }
        }
    }
}
