<div class="body">
    <h1 class="logo"><i class="fas fa-gem"></i>Hunttern</h1>
    <ul>
        <li class="pic">
            <span class="profile"(click)="displayTab()">P</span>
            <span class="dropdown" *ngIf="tab">
                <a [routerLink]='["/dashboard"]'><i class="material-icons">dashboard</i> Dashboard</a>
                <a><i class="material-icons">logout</i> Sign out</a>
            </span>

        </li>
        <li>
            <i *ngIf="darkTheme" (click)="onChangeTheme()" class="material-icons">dark_mode</i>
            <i *ngIf="!darkTheme" (click)="onChangeTheme()" class="material-icons">light_mode</i>
        </li>
        <li>
            <i class="material-icons">notifications</i>
        </li>
    </ul>
</div>